.DS_Store
nvim/.config/*
!nvim/.config/coc
nvim/.config/nvim/*
!nvim/.config/nvim/coc-settings.json
!nvim/.config/nvim/init.vim
nvim/.config/coc/*
!nvim/.config/coc/extensions
nvim/.config/coc/extensions/*
!nvim/.config/coc/extensions/package.json
vscode/Library/Application Support/Code/*
!vscode/Library/Application Support/Code/User/settings.json
