.DS_Store
nvim/.config/*
!nvim/.config/coc
!nvim/.config/nvim
nvim/.config/nvim/pack/*
nvim/.config/nvim/plugin/*
nvim/.config/coc/*
!nvim/.config/coc/extensions
nvim/.config/coc/extensions/*
!nvim/.config/coc/extensions/package.json
vscode/Library/Application Support/Code/*
!vscode/Library/Application Support/Code/User/settings.json
